<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f705a8d8-ac98-4425-ab91-6e8f82031462/resourcegroups/FinalProjectPWI20230617212058ResourceGroup/providers/Microsoft.Web/sites/FinalProjectPWI20230617212058</ResourceId>
    <ResourceGroup>FinalProjectPWI20230617212058ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/f705a8d8-ac98-4425-ab91-6e8f82031462/resourceGroups/FinalProjectPWI20230617212058ResourceGroup/providers/Microsoft.ApiManagement/service/FinalProjectPWIapiMS/apis/FinalProjectPWI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://finalprojectpwi20230617212058.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>295dbd8c-8d71-476d-8f54-f8085d97a290</ProjectGuid>
    <MSDeployServiceURL>finalprojectpwi20230617212058.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FinalProjectPWI20230617212058</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$FinalProjectPWI20230617212058</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>