html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    width: 100%;
    background-color: #e899dc;
    background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
}

.navbar-brand {
    font-family: 'MADE Gentle', sans-serif;
    color: white !important;
}

.nav-link {
    font-family: 'MADE Gentle', sans-serif;
    color: white !important;
}

    .nav-link:hover {
        font-family: 'MADE Gentle', sans-serif;
        color: pink !important;
    }

.footer {
    width: 100%;
    color: white !important;
    font-family: 'MADE Gentle', sans-serif;
    background-color: #e899dc;
    background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
}

    .footer a {
        color: white !important;
        font-family: 'MADE Gentle', sans-serif;
        text-decoration: none;
    }

        .footer a:hover {
            color: pink !important;
            font-family: 'MADE Gentle', sans-serif;
            text-decoration: none;
        }
