
@{
    ViewData["Title"] = "About";
}
<div class="pudelko">
<div class="text-center">
<div class="card">
  <h1 class="display-4">About me</h1>
  <p>My name's Michalina Szewczyk. <br />I'm a computer science student and I LOVE CATS!!<br /> I am an owner of 3 cats and a dog!</p>
</div>
<br /><br /><br />
<div class="card">
  <h1 class="display-4">About my job</h1>
  <p>I am a QA tester. <br /> I test games for living and I absolutley love it!</p>
</div>
<br /><br /><br />
<div class="card">
  <h1 class="display-4">About my passion</h1>
  <p>I am extremely passionate about gaming. I love strategy games. My faveourite games of all time are Crusader Kings 3 and Divinity: Original Sin II</p>
</div>
</div>
</div>