
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>Hi! My name's Michalina Szewczyk. I'm a computer science student and I LOVE CATS!!<br />
   I am passionate about playing games and I work as a QA tester<br /><br />
   Don't hesitate and leave your pet's details in my Pets Club list!</p>

