
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
<div class="row">
  <div class="col-md-6">
    <div>
      <img class="img-fluid" src="~/IMG/luna_shook.jpg" />
    </div>
  </div>
  <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
    <div>
      <p>My name's Michalina Szewczyk. <br />
   I'm a computer science student and I LOVE CATS!!<br />
   I am passionate about playing games and I work as a QA tester<br /><br />
   Don't hesitate and leave your pet's details in my Pets list!</p>
    </div>
  </div>
</div>
</div>