@{
    ViewData["Title"] = "Home Page";
}

<div class="pudelko">
<div class="text-center">
<div class="card">
    <h1 class="display-4">Welcome</h1>
    <br /><br /><br />
<div class="row">
  <div class="col-md-6">
    <div>
      <img class="img-fluid" src="~\Views\IMG\lunaPC.jpg" alt="Luna using PC"/>
    </div>
  </div>
  <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
    <div>
      Hello World!<br />
    Welcome to my final project page! <br />
    It took me a lot of time and effort to learn how to create this website! I hope you will enjoy!
    </div>
  </div>
</div>
</div>
</div>
</div>

